*{
  font-size: 18px;
}




          /* NAVBAR */

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.navbar div{
  margin: 0 20px;
}






            /* FOOTER */

footer{
  text-align: center;
  padding: 20px 0;
  background-color: #fff1f3;
}


footer ul a{
  color: black;
  text-decoration: none;
}

footer ul li{
  list-style: none;
  display: inline-block;
  margin: 20px;
}




          /* LOGIN */

.login{
  height: 50vh;
  text-align: center;
  padding: 80px 0;
  vertical-align: center;
}

.loginContainer{
  width: 600px;
  margin: auto;
  background-color: #fafafa;
  padding: 0 0 40px;
}


.loginContainer ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

.loginContainer ul li{
  list-style: none;
  margin: 0 40px;
  width: 50%;
  height: 40px;
  line-height: 40px;
  padding: 10px 0;
  cursor: pointer;
}

form{
  display: flex;
  flex-direction: column;
}

form input{
  width: 70%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}

form button{
  width: 25%;
  padding: 7px 0;
  border-radius: 6px;
  background-color: black;
  color: white;
  cursor: pointer;
}





                /* PRODUCT LAYOUT */

.productContainer{
  width: 250px;
  border: solid 1px black;
  height: 350px;
  padding: 5px;
  cursor: pointer;
}

.productContainer:hover{
  background-color: #fafafa;
}

.productImage{
  height: auto;
  margin: auto;
}





            /* DASHBOARD */


.dashboard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 50px 0;
}

.dashboardTitle{
  font-size: 35px;
  text-align: center;
}




          /* PRODUCT DETAILS */


.productDetails{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0;
}

.productDetails div{
  margin: 10px;
}


.imageProduct{
  width: 500px;
  height: 500px;
  background-color: gray;
  position: sticky;
  top: 100px;
  align-self: flex-start;
}

.details{
  border: 1px solid black;
  width: 500px;
  height: auto;
  padding: 40px;
}


.productTitle{
  font-size: 20px;
}

.addToCart{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.btnAddToCart{
  font-size: 16px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 0 70px;
  border-radius: 5px;
}




.detailContainer{
  width: 450px;
  overflow: hidden;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}


.detailHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.detailTitle{
  font-weight: bold;
}

.detailContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  padding: 0 10px;
}

.detailContent.open {
  max-height: 500px;
  padding: 10px;
}






                  /* CART */


/* PRODUCT CART LAYOUT */


.productCartContainer{
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


.productCartImage{
  background-color: grey;
  width: 110px;
  height: 110px;
}






.cartTitle{
  font-size: 30px;
}


.cart{
  margin: 70px 0;
  padding: 40px;
}


.cartLayout{
  display: flex;
  flex-direction: row;
}


.detailCart{
  padding: 10px;
  border: 1px solid black;
  width: 65%;
  height: auto;
}

.totalCart{
  padding: 10px;
  border: 1px solid black;
  width: 35%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.submitCart{
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}



                  /* SEARCH */


.searchBar{
  margin: 50px 0;
  text-align: center;
}

.searchInput{
  width: 800px;
  padding: 12px;
  border: 2px solid black;
  border-radius: 5px;
}




          /* SEARCH BAR AND RESULTS */


.searchResults{
  text-align: start;
  width: 900px;
  margin: auto;
}


.searchResults li{
  list-style: none;
  cursor: pointer;
  margin: 30px 0;
  display: flex;
  align-items: center;
}